  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>N'hésitez pas à nous contacter </h2>
              <p>
                Donnez-nous un mot, et nous nous contacterons! Pensez-vous que notre travail est génial? Eh bien, utilisez le formulaire ici pour nous envoyer vos réflexions, ou si vous l'aimez plus, vous pouvez nous appeler ou nous envoyer un courriel ou même nous rejoindre dans les médias sociaux, nous répondrons aussi vite que possible.
              </p>
              <a href="#contact" class="btn btn-default btn-xl wow tada">Contactez-nous</a>
          </div>
      </div>
  </aside>
