<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading wow fadeInDown">Pour la réussite de votre projet</h2>
                <hr class="light">
                <p class="text-faded wow fadeInUp">
                  Lëtzco est une société spécialisée dans la conception de systèmes d’informations,
                  la sécurité des réseaux, le storage et les technologies web (test de pénétration,
                  création graphique, conception de projets web, print et vidéo).<br>
                </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll wow fadeInUp">
                  Découvrez nos services
                </a>
            </div>
        </div>
    </div>
</section>
