<section id="contact">
    <div class="container">
        <div class="row">
          <h2 class="section-heading text-center wow tada">
            <i class="fa fa-send" style="font-size: inherit;"></i> &nbsp;
            Contactez nous
          </h2>
          <hr class="primary">
          <br>
          <div class="col-md-6 col-sm-12">
            <div class="col-md-10 col-md-offset-1 text-center">
                <p>Prêt à démarrer votre prochain projet avec nous? C'est génial! Appelez-nous ou envoyez-nous un courriel et nous vous répondrons dans les meilleurs délais!
                </p>
                <hr class="light">
                <p>
                  Lëtzco.lu<br>
                  2b rue de l'Alzette, L-5812 Hesperange
                </p>

                <p style="font-size: 2rem;">
                  <i class="fa fa-phone" style="font-size: inherit;"></i> {{ site.contact.phone }}
                </p>
                <p style="font-size: 2rem;">
                  <i class="fa fa-fax" style="font-size: inherit;"></i> {{ site.contact.fax }}
                  <hr class="light">
                </p>

            </div>

            <div class="col-sm-2 col-sm-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                  <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="mailto:{{ site.email }}">
                  <i class="fa fa-linkedin fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="https://facebook.com/{{ site.contant.facebook }}">
                  <i class="fa fa-facebook fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="https://twitter.com/{{ site.contact.twitter }}">
                    <i class="fa fa-twitter fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="https://google.com/+{{ site.contact.google }}">
                    <i class="fa fa-google-plus fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <form class="wow fadeIn">
              <div class="form-group">
                <label class="control-label">Nom</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label">Sujet</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label">Message</label>
                <textarea class="form-control" rows="6"></textarea>
              </div>

              <div class="form-group">
                <button style="border-radius: 2px;" type="submit" class="btn btn-primary btn-block">Envoyer</button>
              </div>
            </form>
          </div>
        </div>
        <br>
        <div class="uk-scope">
          <div class="uk-divider-icon"></div>
        </div>
        <p class="text-center">
          Réalisation <a href="/" title="Lëtzco | Agence de communication">Lëtzco</a> © Agence de communication
        </p>
    </div>
</section>
