<header {% if page.header_bg %}style="background-image: url('{{page.header_bg}}')"{% endif %}>
    <div class="header-content wow fadeIn">
        <div class="header-content-inner">
            <img class="block-logo wow swing" alt="Lëtzco" src="{{ site.block_logo }}">
            <hr>
            <h2>Let’s communicate !</h2>
            <p>Optez pour une solution qui vous caractérise.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">en savoir plus</a>
        </div>
    </div>
</header>
