<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">À votre service</h2>
                <hr class="primary">
                <p>
                  Nous vous proposons de nombreux services liés aux technologies web, mobile, graphique, la conception et la consolidation de votre système d’information, de la sécurité des données au backup ainsi qu’au câblage de vos infrastructures.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <!--   Services   -->
          {% include section_cards.html %}
        </div>
    </div>
</section>
