<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">À votre service</h2>
                <hr class="primary">
                <p>
                  Nous vous proposons de nombreux services liés aux technologies web, mobile, graphique, la conception et la consolidation de votre système d’information, de la sécurité des données au backup ainsi qu’au câblage de vos infrastructures.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <!--   Services   -->
          {% include section_cards.html %}
        </div>
    </div>
    <!--
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Comment faisons-nous</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Méditation</h3>
                    <p class="text-muted">
                        Nous prenons le travail, Déposez-le à des éléments simples, et prenez tout ce que nous avons sur la table, les idées de chacun sont prises, Nous travaillons dans l'ensemble en combinant toutes nos visions.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-magic wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Création</h3>
                    <p class="text-muted">
                        Nous commençons la magie, tous les membres donnent le meilleur pour donner le produit ultime qu'ils peuvent créer, avec toute la méditation prise en considération.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Amour</h3>
                    <p class="text-muted">
                        Nous finalizons le produit avec des touches d'amour délicates, en ajoutant le cerisier à notre délicieux gâteau.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary"></i>
                    <h3>Un service</h3>
                    <p class="text-muted">
                        Après la livraison, nous restons en contact pour nous assurer que nos clients sont satisfaits et qu'il n'y a pas de problème avec le produit.
                    </p>
                </div>
            </div>
        </div>
    </div>
    -->
</section>
